.btn-show{
    margin-top: 10px;
    padding: 10px 5px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.btn-submit {
    padding: 10px 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn-delete {
    color: red;
    cursor: pointer;
}

.text-input{
    font-size: 20px;
}